.content .select-range {
    height: 141px;
    border: 1px solid #ededed;
    margin-top: 36px;
    background-color: #fafafa;
}

.content .select-range ul {
    position: relative;
    width: 1176px;
    padding: 9px 0 9px 24px;
}

.content .select-range ul li {
    float: left;
    width: 1176px;
    height: 31px;
    line-height: 31px;
}

.content .select-range ul .title {
    float: left;
    color: #555555;
    font-weight: bold;
}

.content .select-range ul li a {
    float: left;
    color: #555555;
    padding: 0 7px;
    margin-right: 6px;
    overflow: hidden;
}

.content .select-range ul li a.active {
    height: 22px;
    margin-top: 5px;
    background-color: #00b38a;
    color: #fff;
    line-height: 22px;
    text-align: center;
}

.content .select-range ul li a:hover {
    height: 22px;
    background-color: #00b38a;
    color: #fff;
    line-height: 22px;
    margin-top: 5px;
    text-align: center;
}

.content .select-range ul li a.more {
    float: right;
    padding-right: 18px;
    margin-right: 13px;
    background: url(../images/more_arrow_down.png) no-repeat right center;
    background-size: 12px 6px;
    cursor: pointer;
}

.content .select-range ul li a.more:hover {
    color: #555555;
    background-image: url(../images/more_arrow_up.png);
}

.content .select-range .select-list {
    position: absolute;
    left: 0px;
    top: 6px;
    width: 1196px;
    height: 95px;
    background-color: #fff;
    display: none;
}

.content .select-range .select-list .current {
    /* padding-left: 24px; */
    margin-left: 24px;
    width: 1172px;
}

.content .select-range .select-list .more-more {
    margin-left: 17px;
}

.content .select-range .select-list .more-more a {
    margin-right: 0px;
}

.content .select-range .select-list li {
    width: 1198px;
}

.content .order {
    height: 44px;
    margin-top: 14px;
}

.content .order ul {
    padding: 12px 0 10px 24px;
}

.content .order ul li {
    height: 22px;
    line-height: 22px;
}

.content .order ul li a.active {
    margin-top: 0px;
}

.content .order ul li a:hover {
    margin-top: 0;
}

.content .order ul li .pingjia {
    display: block;
    float: right;
    margin-right: 13px;
    cursor: default;
}

.content .order ul li .pingjia .btn {
    width: 14px;
    height: 14px;
    border: 1px solid #eaeaea;
    vertical-align: middle;
}

.content .order ul li .pingjia i {
    display: inline-block;
    vertical-align: middle;
}